body { 
 font-family: "Questrial", sans-serif;
 margin: 0;
}

#home {
  background-color: #212121;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1495651779359-881fde1808a6?auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

#nav-wrapper {
  z-index: 1;
  position: fixed; 
  padding-left: 1em;
  cursor: pointer;
}

#menu { 
 color: white;
 font-size: 2em;
 margin-bottom: -0.25em;
}

#sidenav {
  display: none;
  padding-left: 0.15em;
  opacity: 0.9;
}

#sidenav a {
  width: 7em; /* orig 7em*/
  font-size: 1.2em;
  color: white;
  background-color: #212121; /*remove after*/
  padding: 0.6em;
  display: block;
}

#sidenav a:hover {
  background-color: #E74265;
}

#amp-logo {
  z-index: 1;
  width: 2.5em;
  height: 2.5em;
  background-image: url("https://s9.postimg.org/eknpvmgb3/AMP-white-1024x7521.png");
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0.7em;
  position: absolute;
}

a {
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  color: #E74265;
}

#social-icons {
  z-index: 1; 
  font-size: 2em;
  letter-spacing: 0.2em;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

#about {
  background-color: #212121;
  padding: 1em;
  height: auto;
}
/* paragraph text for #about section */ 
p {
  color: white;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: left;
  margin: auto;
  margin-top: -1em;
  width: 18em;
  display: block;
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #E74265;
  text-align: center;
  padding-top: 2em;
  margin: 0;
}

#landing-text {
  font-size: 5em;
  font-family: "Questrial", sans-serif;
}

#departments {
  height: auto;
  background-color: #212121;
}

#departments h1 {
  margin-bottom: 1em;
  letter-spacing: 0.2em;
}

#dept-container {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.dept-block {
  min-height: 16em;
  color: white;
  border: 2px solid  #E74265;
}

.dept-icons {
  font-size: 3.5em;
  color: #E74265;
  margin-right: 0.2em;
}

/* department names */
#departments h3 {
  font-size: 1.5em;
}

/* department descriptions */
#departments p {
  font-size: 1.05em;
  width: auto;
}

h2 {
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
  color: #E74265;
  text-align: center;
  letter-spacing: 0.2em;
}

#vision-mission {
  margin-top: 2.5em;
}

#artist-links-group {
  letter-spacing: 1em;
  margin-top: -1em;
}
.artist-links {
  color: white;
  font-size: 1.7em;
}

.artist-links:hover {
  color: #E74265;
}

/* list of members for bands and soloist rosters */ 
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: -1em;
}

li {
  color: white;
  line-height: 1.3em;
}

/* landing page for artists section */ 
#artists {
  height: 100vh;
}

#artists h1 {
  font-size: 2.7em;
}

/* social links for both bands and soloists */ 
.artist-links {
  color: white;
  font-size: 1.7em;
}

.artist-links:hover {
  color: #E74265;
}

/* grouped font awesome icons to utilize letter spacing */
#artist-links-group {
  letter-spacing: 1em;
  margin-top: -1em;
}

/* upper half for bands of "artists" landing page */ 
#bands {
 background-image: url("https://images.unsplash.com/photo-1497342860825-91ff79bb8a7c?auto=format&fit=crop&w=750&q=80"); 
 background-size: cover;
 background-repeat: no-repeat;
 height: 50vh;
 cursor: pointer;
 opacity: 0.9;
}

#bands:hover {
  opacity: 1;
  -webkit-transition: opacity ease-out 0.5s;
  -moz-transition: opacity ease-out 0.5s;
  -o-transition: opacity ease-out 0.5s;
  transition: opacity ease-out 0.5s;
}

/* tiles for each band */
.band-tile {
  background: #212121;
  height: 50vh;
  cursor: pointer;
}

.band-tile:hover {
  background: linear-gradient(to right, #E74265, #ff0055);
}

/* band names */ 
.band-tile h2 {
  letter-spacing: 0;
  margin-top: 1.5em;
}

.band-tile:hover h2 {
  color: white;
}

/* headers for members & social links for bands */
.member-social {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  color: #E74265;
}

/* lower half for soloists of "artists" landing page */ 
#soloists {
  background-image: url("https://images.unsplash.com/photo-1506026667107-3350a4c8eca6?auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  cursor: pointer;
  opacity: 0.9;
}

#soloists:hover {
 opacity: 1;
 -webkit-transition: opacity ease-out 0.5s;
 -moz-transition: opacity ease-out 0.5s;
 -o-transition: opacity ease-out 0.5s;
 transition: opacity ease-out 0.5s;
}

/* tiles for each soloist roster */ 
.soloist-tile {
  background: #212121;
  height: 50vh;
  cursor: pointer;
}

.soloist-tile:hover {
  background: linear-gradient(to right, #E74265, #ff0055);
}

/* soloist rosters */ 
.soloist-tile h2 {
  letter-spacing: 0;
  margin-top: 1.5em;
}

.soloist-tile:hover h2 {
  color: white;
}

.roster-members {
	text-align: center;
}

.roster-members li {
  font-size: 1.4em;
  cursor: pointer;
}

.roster-members li:hover {
  background: #E74265;
}

.pink-highlight {
  background: #E74265;
}

/* more details of soloists: genres, soundcloud */ 
.more-info {
  height: auto;
  position: relative;
  padding: 0 1em 1em 1em;
  overflow-y: hidden;
}

.more-info h3 {
  font-size: 1.1em;
}

.more-info p {
  text-align: center;
  color: #E74265;
}

/* pop-up windows used to display details of bands and soloists */ 
.modal {
  height: auto;
  width: 86vw;
  background: #212121;
  border-radius: 0;
  padding: 1em;
}

/* for images used in pop-ups */ 
img {
  width: 100%;
}

/* band descriptions */ 
.modal p {
 font-size: 1em;
 width: auto;
 margin-top: -1em;
}

#upcoming-event {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1487954277007-8c2d6710c312?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7323d12255257222b2431590ae0f506e&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 2em;
  margin: auto;
}

#event-overlay {
  width: 100%;
  padding: 1em;
  background: black;
  position: absolute;
  bottom: 0;
}

#event-overlay h2 {
  color: white;
  font-family: "Questrial", sans-serif;
  letter-spacing: 0;
  margin: 0.4em;
}

#countdown {
  text-align: center;
}

#countdown h2 {
 display: inline;
}

#amplitube-news {
  height: 100vh;
  background: #212121;
}

#amplitube-news h1 {
  margin-top: -1.8em;
  letter-spacing: 0.1em;
  font-size: 2.7em;
}

.article-container {
  height: 31em;
  border: 3px solid  #E74265;
  background: white;
  cursor: pointer;
}

#news-article {
  background: url("https://images.unsplash.com/photo-1447789624106-34acdd381c18?ixlib=rb-0.3.5&s=5a486aca457aaf27e16811d416e63149&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.article-overlay {
  width: 100%;
  background: black;
  padding: 1em;
  margin-top: 22.5em;
}

.article-overlay h3 {
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 1.5em;
}

#amplugged {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1484068793701-4e03840374c5?auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  height: 20em;
  border: none;
  display: block;
  margin: auto;
}

footer {
  color: white;
}

footer p {
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
}

/* media queries for responsive design */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
} 

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;} 
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} 
}

@media only screen and (max-width: 767px) {
  #social-icons {
    display: none;
  }

  .band-tile, .soloist-tile {
    height: 25vh;
  }
}

@media only screen and (min-width: 600px) {
  iframe {
    height: 25em;
  }

}

@media only screen and (min-width: 768px) {
  #menu {
    font-size: 2.6em;
  }

  #amp-logo {
    width: 3.5em;
    height: 3.5em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }

  iframe {
    height: 30em;
  }
  
  .modal p {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1440px) {
  #menu {
    font-size: 3em;
  }

  #departments p {
    font-size: 1.2em;
    width: auto;
  }

  #social-icons {
    font-size: 2.5em;
  }
}
