
/* CSS Variables */
:root {
  --pink: #E74265;
  --dark-grey: #212121;
  --grey-text: #424242;
}

body {
  font-family: "Questrial", sans-serif;
  margin: 0;
}

#amp-logo {
  width: 2.2rem;
  height: 2.2rem;
  background-image: url("https://lh3.googleusercontent.com/RvKOr4ZVQhVou8eXBhur0BB2ADsRCjZ8NqbeAYd-_gW6lCkERMB9PzUMMBCqAdQE3kbRTP-4wfSTHkOqKgacJKD1w6-_siznjtSc2rlCzQcmBk2IHXy0FOscPWyPR82sZGpoBI08ag=w2400");
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  left: 0;
  margin: -0.5rem 0 0 1rem;
}

/* persistent navigation */
#nav-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

#nav-wrapper a {
  margin-left: 1.5rem;
  float: right;
  font-weight: bold;
}

#nav-wrapper a:hover {
  border-bottom: 4px solid var(--pink);
}

.no-hover {
  pointer-events: none;
}

#social-icons {
  right: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  padding: 0.3rem 0;
  position: absolute;
  cursor: pointer;
}

#home {
  height: 100vh;
  background: var(--dark-grey);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* "Bigger than the sound." */
h1 {
  font-size: 3em;
  color: var(--pink);
  width: 5.5em;
}

/* links */
a {
  text-decoration: none;
  color: white;
}

/* Who are we?, Vision, Mission*/
#about {
  background-color: white;
  padding: 5rem 1rem 1rem 1rem;
  height: auto;
}

p {
  color: var(--grey-text);
  font: lighter 1rem/2rem sans-serif;
  text-align: left;
  margin: auto;
  width: auto;
  display: block;
}

/* Primary section headers */
h2 {
  font-size: 2rem;
  color: var(--pink);
  text-align: center;
  letter-spacing: 0.14rem;
}

/* headers for about content, department names*/
h3 {
  font-size: 1.5rem;
  color: var(--dark-grey);
  text-align: left;
}

/* AMP Departments */
#departments {
  height: auto;
}

#departments h2 {
  margin-bottom: 0;
  background: var(--dark-grey);
  padding: 2rem;
}

.dept-block {
  min-height: 18rem;
}

.dept-block h3, .dept-block p {
  color: white;
}

/* black translucent layer for contrast*/
.am-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b811266a4cf56733a98b08047ffe3ed&auto=format&fit=crop&w=750&q=80");
}

.dd-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1453814235491-3cfac3999928?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f05da4077424625439e156f87d204797&auto=format&fit=crop&w=750&q=80");
}

.dp-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1512143889056-b57b4153f038?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3deaa8cb1ea7f0dc6acb6b8f5b1560e7&auto=format&fit=crop&w=750&q=80");
}

.ss-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7cac606b3752d340f2c342f32536727&auto=format&fit=crop&w=750&q=80");
}

.se-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1517353334933-3365be5c8ec3?ixlib=rb-0.3.5&s=8625c60f82992013595eeaa9603d30ff&auto=format&fit=crop&w=750&q=80");
}

.spp-block {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)), url("https://images.unsplash.com/photo-1527075240784-552cddfbb143?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89678950ef9fa3fb3a395f660c84e533&auto=format&fit=crop&w=755&q=80");
}

/*artist label (i.e. "bands" or "soloists"*/
.artist-label {
  color: white;
  font-size: 2.5rem;
}

/* list of members for bands and soloist rosters */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: var(--grey-text);
  line-height: 1.3rem;
}

/* upper half for bands of "artists" landing page */
#bands {
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("https://images.unsplash.com/photo-1474692295473-66ba4d54e0d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=011de1da09df52cd8990a2282c5d38d1&auto=format&fit=crop&w=676&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bands:hover {
  background: linear-gradient(rgba(33, 33, 33, 0.1), rgba(33, 33, 33, 0.1)), url("https://images.unsplash.com/photo-1474692295473-66ba4d54e0d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=011de1da09df52cd8990a2282c5d38d1&auto=format&fit=crop&w=676&q=80");
  background-size: cover;
}

/* tiles for each band */
.band-tile {
  background: var(--dark-grey);
  height: 50vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.band-tile:hover {
  background: var(--pink);
}

/* band names */
.band-tile h2 {
  letter-spacing: 0;
}

.band-tile:hover h2 {
  color: white;
}

/* lower half for soloists of "artists" landing page */
#soloists {
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("https://images.unsplash.com/photo-1507641829893-8fa7b6b3b6a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bd378e699616a063fd122bd98410d5a&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#soloists:hover {
  background: linear-gradient(rgba(33, 33, 33, 0.1), rgba(33, 33, 33, 0.1)), url("https://images.unsplash.com/photo-1507641829893-8fa7b6b3b6a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bd378e699616a063fd122bd98410d5a&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
}

/* tiles for each soloist roster */
.soloist-tile {
  background: var(--dark-grey);
  height: 50vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.soloist-tile:hover {
  background: var(--pink);
}

/* soloist rosters */
.soloist-tile:hover h2 {
  color: white;
}

/* pop-up modals used to display details of bands and soloists */
.modal {
  height: auto;
  width: 86vw;
  background: white;
  border-radius: 0;
  padding: 1em;
}

/* for images used in pop-ups */
img {
  width: 100%;
}

/* header text for bands and soloists rosters */
.modal h2, .modal h3, #artist-links-group {
  margin-bottom: 1rem;
}

/* band descriptions */
.modal p {
  color: var(--grey-text);
  width: auto;
  line-height: 1.5rem;
}

/* headers for "Members" & "Links" for bands */
.member-social {
  font: 1.3rem sans-serif;
  color: var(--pink);
  padding: 0;
}

/* social links for both bands and soloists */
.artist-links {
  color: var(--pink);
  font-size: 1.5rem;
}

.artist-links:hover {
  color: var(--pink);
}

/* grouped font awesome icons to utilize letter spacing */
#artist-links-group {
  letter-spacing: 1rem;
}

/* roster members for soloists */
.roster-members {
	text-align: center;
}

.roster-members li {
  font-size: 1rem;
  cursor: pointer;
}

.roster-members li:hover {
  color: white;
  background: var(--pink);
}

/* toggle highlight style when roster member is 'clicked' */
.pink-highlight {
  color: white;
  background: var(--pink);
}

/* more details of soloists: genres, soundcloud */
.more-info {
  height: auto;
  position: relative;
  padding: 0 1rem 1rem 1rem;
  overflow-y: hidden;
}

.more-info h3 {
  font-size: 1.1rem;
  text-align: center;
}

.more-info p {
  text-align: center;
  color: var(--pink);
}

/* Latest: Upcoming Event */
#upcoming-event {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1487954277007-8c2d6710c312?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7323d12255257222b2431590ae0f506e&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 2rem;
  margin: auto;
}

#event-overlay {
  width: 100%;
  padding: 1rem;
  background: black;
  position: absolute;
  bottom: 0;
}

#event-overlay h2 {
  color: white;
  font-family: "Questrial", sans-serif;
  letter-spacing: 0;
  margin: 0.4rem;
}

#countdown {
  text-align: center;
}

#countdown h2 {
  display: inline;
}

#amplitube {
  height: 100vh;
}

#amplitube-news {
  height: auto;
  background: var(--dark-grey);
}

#amplitube-news h1 {
  margin-top: -1.8rem;
  letter-spacing: 0.1rem;
  font-size: 2.7rem;
}

.article-container {
  height: 20rem;
  border: 3px solid var(--pink);
}

#news-article {
  background: url("https://images.unsplash.com/photo-1447789624106-34acdd381c18?ixlib=rb-0.3.5&s=5a486aca457aaf27e16811d416e63149&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

#amplitube-article {
  background: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&s=27b416c01a4ca9471903eaeb609ee63b&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.article-overlay {
  width: inherit;
  background: black;
  padding: 0.5rem;
  padding-top: 0.1rem;
  margin-top: 11.1rem;
  cursor: pointer;
}

.article-overlay h3 {
  color: white;
  font: 1.5rem "Questrial", sans-serif;
}

.article-overlay p {
  color: var(--pink);
  margin-left: 0;
}

#amplugged {
  height: 100vh;
  background: var(--dark-grey);
  margin-top: -3rem;
}

/* embeds YouTube video for AMPlugged */
iframe {
  height: 20rem;
  border: none;
  display: block;
  margin: auto;
}

footer {
  background: var(--dark-grey);
  padding: 1rem;
}

footer p {
  color: white;
  text-align: center;
}

/* media queries for responsive design */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 767px) {
  .band-tile, .soloist-tile {
    height: 25vh;
  }

  #social-icons {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    width: 10em;

  }
  iframe {
    height: 25em;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
	  font-size: 3.5em;
  }

  #dept-container {
    padding: 0 3.5em 3em 3.5em;
  }

  #bands {
    float: left;
    width: 50%;
    height: 100vh;
  }

  #soloists {
    float: left;
    width: 50%;
    height: 100vh;
  }

  iframe {
    height: 30em;
  }

  .modal p {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
	font-size: 5.5em;
  }

  #social-icons {
    font-size: 2.5em;
  }
}
